@model Deano.Models.Prototypes.Users.User
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tmpl.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/validation.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/response.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        var messages = '@(ViewBag.Messages)';

        if (messages.length > 0) {
            var response = $.parseJSON(messages);
            var arr = [];
            arr[0] = response;
            $("#jsonResponseMessages").tmpl(arr).appendTo('#Messages');
        }
    });
</script>
<div class="title">
    Home</div>
<div id="Messages" class="color">
</div>
<script id="jsonResponseMessages" type="text/x-jquery-tmpl">
  {{each Messages}} 
      <div style="margin:5px;font-size:12pt" class="color">
                    ${Text}
 </div>
           {{/each}}
</script>
