@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tmpl.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/catalog.js")" type="text/javascript"></script>
<script type="text/javascript">

    var catalog = null;
    $(function () {
        catalog = new Catalog('/Forums/Posts?threadId=-1&search=recent');
        catalog.ItemTemplate = '#threadTemplate';
        GetCatalogData(0);
    });

    function loadThreads(id) {
        resetAccountContent();
        catalog.Path = '/Forums/Threads?forumId=' + id;
        catalog.FirstIndex = 0;
        catalog.SelectedIndex = 0;
        catalog.ItemTemplate = '#forumTemplate';
        GetCatalogData(0);
    }

    function resetAccountContent() {
        $(Layout.AccountContentPanel).html('<div id="catalog"></div><div id="pager"></div>');
    }

    function loadPosts(threadId, search) {
        resetAccountContent();
        catalog.Path = '/Forums/Posts?threadId=' + threadId + '&search=' + search;
        catalog.FirstIndex = 0;
        catalog.SelectedIndex = 0;
        catalog.ItemTemplate = '#threadTemplate';
        GetCatalogData(0, hideFavorites);
    }

    function loadReports(id) {
        resetAccountContent();
        catalog.Path = '/FishReports/_Index?search=' + id;
        catalog.FirstIndex = 0;
        catalog.SelectedIndex = 0;
        catalog.ItemTemplate = '#reportTemplate';
        GetCatalogData(0);
    }

    function GetCatalogData(index) {
        catalog.GetData(index, hideFavorites);
    }

    function hideFavorites() {
        var ddls = $(".gallery").get();
        for (var ddl in ddls) {
            var id = $(ddls[ddl]).attr('id');
            $('#' + id + ' a').lightBox();
        }
    }
</script>
<div style="float: left; width: 280px;">
    <div id="leftActionsContainer">
        <div id="leftActions">
            <div style="text-align: center" id="actionsTitle">
                Shortcuts</div>
            <div class="actionsContent">
                @* <div style="visibility: collapse" class="panelBarHeader">
                    <div style="float: left; padding-top: 5px">
                        @using (Ajax.BeginForm(string.Empty, null, new AjaxOptions() { HttpMethod = "Post" }, new { id = "frmSearch" }))
                        {
                            <input type="text" id="txtSearch" name="txtSearch" class="SearchText" />
                            @Html.ValidationMessage("txtSearch")
                            <span title="Search" onclick="SearchReports()" class="t-icon t-search"></span>
                        }
                    </div>
                    <div style="clear: both">
                    </div>
                </div>*@
                <div class="panelBarSubItem">
                    <a href="javascript:void(0)" onclick="loadMemberHome()">Home</a></div>
                <div onclick="loadMemberCredentials()" class="panelBarSubItem">
                    <a href="javascript:void(0)">Change Username/Password</a></div>
                <div class="panelBarSubItem">
                    <a onclick="loadMemberAccount()" href="javascript:void(0)">Change Account Information</a></div>
                <div class="panelBarSubItem">
                    <a href="javascript:void(0)" onclick="loadPosts(-1, 'my')">View My Posts</a></div>
                <div class="panelBarSubItem">
                    <a href="javascript:void(0)" onclick="loadPosts(-1, 'favorites')">View Favorite Posts</a></div>
                <div class="panelBarSubItem">
                    <a href="javascript:void(0)" onclick="loadReports('favorites')">View Favorite Fish Reports</a></div>
                @*      <div class="panelBarSubItem">
                    <a href="javascript:void(0)" onclick="loadReports('my')">View My Fish Reports</a></div>
                <div class="panelBarSubItem">
                    <a href="javascript:void(0)" onclick="loadCreateFishReport(-1,true)">Create Fish Report</a></div>*@
            </div>
        </div>
    </div>
</div>
<div id="rightWalleyesContainer">
    <div id="walleyes">
        <div id="walleyesTitle">
            My Account</div>
        <div id="walleyesContent">
            <div>
                <div id="accountContent">
                    @Html.Action("Home")
                </div>
                <div id="accountContent2">
                </div>
            </div>
            <div style="clear: both">
                <img src="images/spaser.gif" alt="" width="1" height="1" /></div>
        </div>
    </div>
</div>
