@model Deano.Models.Prototypes.Users.User
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tmpl.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/validation.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/response.js")" type="text/javascript"></script>
<script type="text/javascript">
    var responseCreateAccount = null;

    function onBeginCreateAccount(e) {
        var v = $('#frmCreateAccount').validate();
        responseCreateAccount.onBegin(e, 'responseCreateAccount');
    }

    function onSuccessCreateAccount(e) {
        responseCreateAccount.onSuccess(e, null);
        $('html').prop('scrollTop', 0);
    }

    function onSubmit() {
        var v = $('#frmCreateAccount').valid();
        if (v == true || v == 1) {
            $('#frmCreateAccount').trigger('submit');
        }
    }

    $(function () {

        $('#accountUsername').rules("add", { email: true,
            messages: {
                email: "Please enter a valid email address."
            }
        });

        responseCreateAccount = new jsonResponse('responseCreateAccount');
        Validation.markRequiredFields('#frmCreateAccount');

        $("input").blur(function () {
            var txt = $(this).val();
            $(this).val(txt);
            $(this).valid();
        });

    });
 
</script>
@using (Ajax.BeginForm("ForgotPassword", "Users", new { userId = Model.UserId }, new AjaxOptions() { HttpMethod = "Post", OnBegin = "onBeginCreateAccount", OnSuccess = "onSuccessCreateAccount", OnComplete = "responseCreateAccount.onComplete" }, new { id = "frmCreateAccount" }))
{
    <div id="walleyesTitle">
        Forgot Password</div>
    <div id="walleyesContent">
        <div id="responseCreateAccount">
        </div>
        <div class="nameValue">
            <div class="label">
                Email Address</div>
            <div class="field">
                @Html.TextBoxFor(m => m.Username, new { id = "accountUsername", @class = "requiredField" })
                @Html.ValidationMessageFor(m => m.Username)</div>
        </div>
        <div style="clear: both" />
        <div style="margin-top: 10px; width: 150px" class="buttonMap">
            <a style="text-decoration: underline" onclick="onSubmit()" href="javascript:void(0)">
                Send Password</a></div>
        <div style="margin-top: 10px; " class="buttonMap">
            <a onclick="unloadForgotPassword()" href="javascript:void(0)">Cancel</a></div>
        <div style="clear: both" />
    </div>
    <div style="clear: both" />
}
